<head>
    <link rel="stylesheet" href="css/styles.css">
</head>
<h1>Author: {{ author }}</h1>
<br>
<h2><img src='{{ link }}'></a></h2>
<br>
<h3>{{ description }}</h3>
<br>
<h3><a href='/gallery/{{ id }}/edit'>EDIT POST</a></h3>
<br>
<h3><a href='/gallery/{{ title }}/delete'>DELETE POST</a></h3>
<br>
<h3><a href='/'>BACK TO GALLERY</a></h3>